<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunsheng.modules.sql.dao.UserMapper">
    <select id="getInfo" resultType="com.sunsheng.modules.sql.entity.UserEntity">

    </select>
    <select id="getTest" resultType="com.sunsheng.modules.sql.entity.UserEntity">
        select * from clickUserEntity
    </select>
</mapper>
