<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <div th:replace="base :: header"></div>-->
    <th:block th:include="base::base-header"/>
    <!--    <th:block th:include="base::base-css"/>-->
    <!--    <th:block th:include="base::base-js"/>-->
    <style>
        .td{
            border: #0000FF 2px solid;
        }
    </style>
</head>
<body>
<div id="vvm">
    <a th:href="@{/Pretty/erciyuan}" >二次元动漫</a><br>
    <a th:href="@{/Pretty/erciyuan2}" >二次元动漫2</a><br>
    <a th:href="@{/Pretty/menhera}" >menhera</a><br>
    <a th:href="@{/Pretty/hdwallpaper}" >hdwallpaper</a><br>
    <a th:href="@{/Pretty/dailybingwallpaper}" >每日 bing 壁纸：</a><br>
    <a th:href="@{/Pretty/randomTaobaoSellerShow}" >randomTaobaoSellerShow</a><br>
    <a th:href="@{/Pretty/随机头像}" >随机头像</a><br>
    <a th:href="@{/Pretty/一言语录}" >一言语录</a><br>
    <a th:href="@{/Pretty/舔狗日记}" >舔狗日记</a><br>
    <a th:href="@{/Pretty/随机情话&污话}" >随机情话&污话</a><br>
    <a th:href="@{/Pretty/随机毒鸡汤}" >随机毒鸡汤</a><br>
    <a th:href="@{/Pretty/3D城市}" >3D城市</a><br>
    <a th:href="@{/Pretty/3D旅行}" >3D旅行</a><br>
    <a th:href="@{/Pretty/404滚动框}" >404滚动框</a><br>
    <a th:href="@{/Pretty/打砖块}" >打砖块</a><br>
    <a th:href="@{/Pretty/canvas六角型}" >canvas六角型</a><br>
    <a th:href="@{/Pretty/Canvas加载动画}" >Canvas加载动画</a><br>
    <a th:href="@{/Pretty/canvas喷泉}" >canvas喷泉</a><br>
    <a th:href="@{/Pretty/canvas树}" >canvas树</a><br>
    <a th:href="@{/Pretty/CSS涡旋}" >CSS 涡旋</a><br>
    <a th:href="@{/Pretty/CSS3loadding加载等待效果}" >CSS3 loadding加载等待效果</a><br>

    <a th:href="@{/Pretty/css3绘制卡通可爱的小猫动画}" >css3绘制卡通可爱的小猫动画</a><br>

    <a th:href="@{/Pretty/canvas酷炫圆弧时钟动画特效}" >canvas酷炫圆弧时钟动画特效</a><br>

    <a th:href="@{/Pretty/三角形花圈}" >三角形花圈</a><br>
    <a th:href="@{/Pretty/下雨}" >下雨</a><br>
    <a th:href="@{/Pretty/倒计时}" >倒计时</a><br>
    <a th:href="@{/Pretty/全屏不规则的棱形背景动画}" >全屏不规则的棱形背景动画</a><br>
    <a th:href="@{/Pretty/创意心形动画}" >创意心形动画</a><br>
    <a th:href="@{/Pretty/加载动画}" >加载动画</a><br>
    <a th:href="@{/Pretty/原点动画}" >原点动画</a><br>
    <a th:href="@{/Pretty/大白}" >大白</a><br>
    <a th:href="@{/Pretty/山林里太阳日出日落动画}" >山林里太阳日出日落动画</a><br>
    <a th:href="@{/Pretty/弹性波浪特效}" >弹性波浪特效</a><br>
    <a th:href="@{/Pretty/彩虹蜘蛛}" >彩虹蜘蛛</a><br>
    <a th:href="@{/Pretty/彩虹雨}" >彩虹雨</a><br>
    <a th:href="@{/Pretty/心}" >心</a><br>
    <a th:href="@{/Pretty/心1}" >心1</a><br>
    <a th:href="@{/Pretty/情人节快乐}" >情人节快乐</a><br>
    <a th:href="@{/Pretty/抽象的画布花纹动画}" >抽象的画布花纹动画</a><br>
    <a th:href="@{/Pretty/散景效果CSS}" >散景效果（CSS）</a><br>
    <a th:href="@{/Pretty/机器猫}" >机器猫</a><br>
    <a th:href="@{/Pretty/机械手表}" >机械手表</a><br>
    <a th:href="@{/Pretty/格子}" >格子</a><br>

    <a th:href="@{/Pretty/模拟声波扩散线性传播}" >模拟声波扩散线性传播</a><br>

    <a th:href="@{/Pretty/珠子迷宫}" >珠子迷宫</a><br>
    <a th:href="@{/Pretty/粒子动画}" >粒子动画</a><br>
    <a th:href="@{/Pretty/粒子波浪}" >粒子波浪</a><br>
    <a th:href="@{/Pretty/粒子秘密}" >粒子秘密</a><br>
    <a th:href="@{/Pretty/纯css抽屉}" >纯css抽屉</a><br>
    <a th:href="@{/Pretty/网页特效}" >网页特效</a><br>
    <a th:href="@{/Pretty/花卉}" >花卉</a><br>
    <a th:href="@{/Pretty/计算器}" >计算器</a><br>
    <a th:href="@{/Pretty/跳动的爱心}" >跳动的爱心</a><br>
    <a th:href="@{/Pretty/闪电风暴雨}" >闪电风暴雨</a><br>
    <a th:href="@{/Pretty/黑客帝国}" >黑客帝国</a><br>
    <a th:href="@{/Pretty/黑客帝国界面}" >黑客帝国界面</a><br>
    <a th:href="@{/Pretty/鼠标跟随}" >鼠标跟随</a><br>

<!--    <a th:href="@{/Pretty/音频可视化}" >音频可视化</a><br>-->
</div>
<script th:src="@{/js/modules/sunsheng/Import/one.js}"></script>
</body>
</html>