<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <div th:replace="base :: header"></div>-->
    <th:block th:include="base::base-header"/>
<!--    <th:block th:include="base::base-css"/>-->
<!--    <th:block th:include="base::base-js"/>-->
    <style>
        .td{
            border: #0000FF 2px solid;
        }
    </style>
</head>
<body>
<div id="vvm">
    <h2 id="nowtime">--</h2>
    <table id="tabletext" style="border: #0000FF 2px solid">
        <tr>
            <td class="td">编号</td>
            <td class="td">名字</td>
            <td class="td">密码</td>
        </tr>
    </table>
    <a id="onelidt"></a>
</div>
<script th:src="@{/js/modules/testmodule/User.js}"></script>
</body>
</html>